body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #C00000 !important;
}

.Ueberschrift{
    text-align: center;
    color: white !important;
}

#HomeButton{
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, 0%);
}

.button{
    background-color: white !important;
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 10px !important;
    border: black solid 3px;
    border-radius: 15px;
    height: 100px;
    align-items: center;
    text-decoration: none !important;
    color: black !important;
}

#Content{
    margin-left: 20px !important;
    margin-right: 20px !important;
}